<div class="about animated fadeIn">
	<div class="about-container">
		<div class="about-left">
			<h1>JOSEPH<br>TOH<i>|</i>DJOJO</h1>
			<div class="line"></div>
		</div>
		<div class="about-right">
			<div class="ghost"></div>
			<div class="title">
				<div class="line"></div>
				<p>WHO I AM</p>
				<div class="line"></div>
			</div>
			<br>
			<p>Hi, I'm Joe! I develop and design thoughtful digital experiences out of <i>Brooklyn, NY</i>. My love for <i>programming</i> stems from the junction of my two hobbies, art and technology. My goal is to solve problems for brands through thoughtful ideas that translate into designs for various mediums. I love to explore different avenues of <i>creativity</i> and build small pieces of software in my spare time.</p>
		</div>
	</div>
</div>
