.home {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .title {
    border: 0.2rem solid $contrast-color;
    padding: 2rem;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    transition: all 250ms ease;
    cursor: pointer;
    h1 {
      text-align: center;
      font-family: 'Fjalla One', Helvetica, sans-serif;
      font-size: 10vmin;
      font-weight: 500;
      color: $contrast-color;
      text-shadow: 2px 2px 8px hsla(0, 100%, 100%, 0.1);
      -webkit-transition: all 250ms ease;
      -moz-transition: all 250ms ease;
      transition: all 250ms ease;
    }
  }
  .title:hover {
    padding: 2.05rem;
    background-color: hsla(0, 100%, 100%, 0.5);
    box-shadow: 0.2rem 0.2rem 2rem hsla(0, 0%, 0%, 0.3);
    h1 {
      font-size: 10.05vmin;
    }
  }
  .title:active {
    padding: 2rem;
    background-color: transparent;
    box-shadow: none;
    h1 {
      font-size: 10vmin;
    }
  }
  .home-img {
    z-index: -1;
    position: absolute;
    background-blend-mode: multiply;
  }

  .home-img1 {
    height: 90vh;
    right: 0;
    top: 0;
  }

  .home-img2 {
    display: none;
  }
}
@media only screen and (min-width: 769px) {
  .home {
    .title {
      h1 {
        font-size: 10vmax;
      }
    }
    .title:hover {
      h1 {
        font-size: 10.05vmax;
      }
    }
    .title:active {
      h1 {
        font-size: 10vmax;
      }
    }

    .home-img1 {
      height: 15vmax;
      right: 10%;
      top: 10%;
    }
    .home-img2 {
      display: block;
      height: 20vmax;
      left: 10%;
      top: 50%;
    }
  }
}
