@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto+Condensed:700');

$primary: 'Roboto Condensed';
$secondary: 'Montserrat';
$sans-serif-fallbacks: 'Helvetica Neue', helvetica, arial, sans-serif;
$color: rgba(255, 255, 255, 0.8);
$color-hover: rgba(255, 255, 255, 1);
$transition: color 400ms;

body {
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9));
  color: $color;
  height: 100vh;
  margin: 0;
}

h1 {
  font-family: '#{$primary}', $sans-serif-fallbacks;
  letter-spacing: 0.2rem;
  line-height: 1;

  @media (min-width: 380px) {
    line-height: 1.4;
  }
}

p {
  font-family: '#{$secondary}', $sans-serif-fallbacks;
  font-weight: 400;
  line-height: 1.4;
}

h1,
p {
  font-style: italic;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: underline;
  transition: $transition;

  &:hover {
    color: $color-hover;
  }

  .name &,
  &.icon {
    text-decoration: none;
  }
}

.container {
  padding: 2em 2em 4em;
}

.name {
  font-style: normal;
}

.icon-container {
  display: flex;
  margin: 10px 0;
}

.icon {
  display: block;
  height: 20px;
  margin-right: 20px;
  width: 20px;

  svg {
    fill: $color;
    height: 20px;
    transition: $transition;
    width: 20px;
  }

  &:hover {
    svg {
      fill: $color-hover;
    }
  }
}

.background {
  left: 50%;
  min-height: 100vh;
  min-width: 100vw;
  opacity: 1;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
